/* here you can put your own css to customize and override the theme */
.dropdown-menu {
	font-family: 'Roboto', sans-serif !important;
}
.table td {
	font-size: 12px !important;
}

.login .content .form-control {
	background: none !important;
	border-top-width: 0px !important;
	border-right-width: 0px !important;
	border-left-width: 0px !important;
}